body {
  background-color: rgb(7, 62, 78);
  width: 100%; 
  height: 100vh;
  margin:0;
  color: rgb(255, 255, 255);
  font-family: "Poppins",sans-serif;
  font-size: 17px;
}
#description {
  text-align: center;
  font-style: italic;
    }
#title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 400;
    }
 #survey-form {
  background-color: rgba(4, 32, 39, 0.8);
  width: 70%;
  margin: 0 auto;
  border-radius: 7px; 
  padding: 15px;
 }
 .form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem
 }
 input, textarea, select {
  width: 90%;
  height: 30px;
  font-size: 15px;
  border-radius: 7px;
  border:rgba(4, 32, 39, 0.8)
 } 
 label {
  display: block;
  margin-bottom: 8px;
  width: 90%;
  font-size: 16px;
  padding-top: 8px;
  margin-left: 2px;
  margin-bottom: 10px;
 }
 textarea {
  height: 100px;
  margin-bottom: 5px;
 }      
input[type="radio"], input[type="checkbox"] {
  height: 15px;
  margin-left: 25px;
  width: 4%;

}
.form-radio, .form-checkbox {
    display: block;
    padding-bottom: 5px;
}
input[type="submit"] {
  width: 90%;
  height: 40px;
  color: white;
  background-color: rgb(20, 240, 20);
  margin-bottom: 8px;
  margin-top:8px;
}

